/****************************
* This is the CSS for the laundry
*****************************/

@media print {
    body * {
            visibility: hidden;
    }
    div.dynamic_sheet_container * {
            visibility: visible;
    }
    div.dynamic_sheet_container {
            position: absolute;
            left: 0;
            top: 0;
    }
    .ds_laundry
    {
        width: 1000px;
        font-family: "Lucida Console", Monaco, monospace;
    }

}

@media screen {
    .ds_laundry
    {
        width: 700px;
        font-family: "Lucida Console", Monaco, monospace;
    }
}

.ds_laundry .laundry_main_box
{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow: auto;
    padding-bottom: .5em;
    margin-bottom: 6px;
}

.ds_laundry .laundry_title
{
    font-weight: bold;
    clear: left;
}

.ds_laundry .laundry_mast
{
    width: 40%;
    font-size: 200%;
    font-width: 200%;
    font-weight: bold;
    background-color: #E0E0E0;
    color: black;
    float: left;
    text-align: left;
    margin-bottom: .25em;
}
.ds_laundry .laundry_mast_right
{
    width: 60%;
    font-size: 200%;
    font-width: 200%;
    font-weight: bold;
    background-color: #E0E0E0;
    color: black;
    float: right;
    text-align: right;
    margin-bottom: .25em;
}

.ds_laundry .laundry_header
{
    width: 100%;
    font-size: 125%;
    font-weight: bold;
    background-color: #E0E0E0;
    color: black;
    float: left;
    text-align: left;
    margin-bottom: .25em;
}


.ds_laundry .laundry_hidden
{
    display: none;
    visibility: hidden;
}

@media screen {
    .ds_laundry .laundry_page_marker {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
@media print {
    .ds_laundry .laundry_page_marker {
        page-break-after:always;
    }
}

.ds_laundry .laundry_main_page_column
{
    width: 50%;
    float: left;
}

.ds_laundry .laundry_column_left
{
    padding-right: 3px;
}

.ds_laundry .laundry_column_right
{
    padding-left: 3px;
}

.ds_laundry .laundry_top_page_2
{
    overflow: auto;
}

/****************************
* Character Info
*****************************/
.ds_laundry .laundry_character_info .laundry_title 
{
    float: left;
    padding-right: 6px;
}

.ds_laundry .laundry_character_info .dsf
{
    float: left;
    min-width: 50%;
}

.ds_laundry .laundry_sex
{
    float: left;
    width: 50%;
}

.ds_laundry .laundry_sex .dsf
{
    float: left;
    min-width: 25%;
}

.ds_laundry .laundry_age
{
    float: left;
    width: 50%;
}

.ds_laundry .laundry_age .dsf
{
    float: left;
    min-width: 25%;
}

/****************************
* Characteristics and Rolls
*****************************/
.ds_laundry .laundry_rolls_and_points
{
    overflow: auto;
}

.ds_laundry .characteristics_rolls .row
{
    clear: left;
}

.ds_laundry .characteristics_rolls .col
{
    float: left;
    width: 30%;
}

.ds_laundry .characteristics_rolls .laundry_title
{
    float: left;
    width: 3.1em;
}

.ds_laundry .characteristics_rolls .widecol .laundry_title
{
    float: left;
    width: 10em;
}


.ds_laundry .characteristics_rolls .widecol
{
    float: left;
    width: 70%;
}

.ds_laundry .dsf_cthulhu_sanity
{
    float: left;
    min-width: 20px;
}

.ds_laundry .dsf_damage_bonus
{
    float: left;
    min-width: 40px;
}

/****************************
* Points
*****************************/
.ds_laundry .points .current
{
    clear: left;
}

.ds_laundry .points .maximum
{
    clear: left;
}

.ds_laundry .points .sanity
{
    float: left;
    width: 33.33%;
}

.ds_laundry .points .magic
{
    float: left;
    width: 33.33%;
}

.ds_laundry .points .hit
{
    float: left;
    width: 33.33%;
}

.ds_laundry .points .laundry_title
{
    float: left;
    width: 75%;
}

/****************************
* Agent Skills
*****************************/
.ds_laundry .agent_skills .column
{
    float: left;
    width: 33.33%;
    position: relative;
}

.ds_laundry .agent_skills .laundry_skill_item
{
    clear: left;
}

.ds_laundry .agent_skills .laundry_sub_skill_item
{
    clear: left;
}

.ds_laundry .agent_skills .skill_check
{
    float: left;
    width: 25px;
    clear: left;
}

.ds_laundry .agent_skills .skill_name
{
    text-transform: capitalize;
    float: left;
    width: 10em;
}

.ds_laundry .agent_skills .laundry_sub_skill_item .skill_name
{
    text-transform: capitalize;
    float: left;
    width: 9em;
    margin-left: 1em;
}

.ds_laundry .agent_skills .skill_value
{
    float: left;
}

.ds_laundry .skill_section_header
{
    float: left;
    font-weight: bold;
    position: relative;
    left: -5px;
    text-transform: capitalize;
}

/****************************
* Combat Skills
*****************************/
.ds_laundry .laundry_combat_item 
{
    clear: left;
}

.ds_laundry .laundry_combat_header
{
    font-weight: bold;
}

.ds_laundry .laundry_combat_check
{
    float: left;
    clear: left;
    width: 25px;
}

.ds_laundry .laundry_combat_name
{
    float: left;
    width: 240px;
}

.ds_laundry .laundry_combat_percent
{
    float: left;
    width: 50px;
}


