/****************************
* This is the CSS for the laundry
*****************************/

.ds_laundry
{
    width: 700px;
}

.ds_laundry .coc_main_box
{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow: auto;
    padding-bottom: .5em;
    margin-bottom: 6px;
}

.ds_laundry .coc_title
{
    font-weight: bold;
    clear: left;
}

.ds_laundry .coc_header
{
    width: 100%;
    font-size: 125%;
    font-weight: bold;
    background-color: black;
    color: white;
    float: left;
    text-align: center;
    margin-bottom: .25em;
}

.ds_laundry .coc_hidden
{
    display: none;
    visibility: hidden;
}

.ds_laundry .page_marker
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.ds_laundry .main_page_column
{
    width: 50%;
    float: left;
}

.ds_laundry .column_left
{
    padding-right: 3px;
}

.ds_laundry .column_right
{
    padding-left: 3px;
}

.ds_laundry .bottom_page_2
{
    overflow: auto;
}

/****************************
* Left Sidebar / Header
*****************************/
.ds_laundry .coc_sidebar
{
    width: 5em;
    height: 50em;
    position: relative;
    float: left;
    background-color: Black;
    color: White;
    margin-right: 6px;
}

.ds_laundry .coc_year
{
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
}

.ds_laundry .coc_year_select
{
    font-size: 100%;
    font-weight: normal;
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.ds_laundry .coc_sidebar .rotate_neg_90
{
    border-width: 0px;
    border-style: solid;
    border-color: Red;
    position: absolute;
    bottom: -3em;
    width: 45em;
    left: 0px;
    
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 0% 0%;
    
    -o-transform: rotate(-90deg);
    -o-transform-origin: 0% 0%;
    
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 0% 0%;
}

.ds_laundry .coc_gametitle
{
    float: left;
    width: 25em;
}

.ds_laundry .coc_gametitle .coc_gametitle
{
    font-size: 200%;
    font-weight: bold;
}

.ds_laundry .coc_gametitle .author
{
    font-size: 75%;
}

.ds_laundry .player_info
{
    margin-left: 2em;
    float: left;
    background-color: Window;
    color: WindowText;
    padding: 2px 2px 2px 2px;
    margin-top: 0.5em;
}

.ds_laundry .coc_sidebar a
{
    text-decoration: none;
}

/****************************
* Character Info
*****************************/
.ds_laundry .character_info .coc_title 
{
    float: left;
    padding-right: 6px;
}

.ds_laundry .character_info .dsf
{
    float: left;
    min-width: 50%;
}

.ds_laundry .sex
{
    float: left;
    width: 50%;
}

.ds_laundry .sex .dsf
{
    float: left;
    min-width: 25%;
}

.ds_laundry .age
{
    float: left;
    width: 50%;
}

.ds_laundry .age .dsf
{
    float: left;
    min-width: 25%;
}

/****************************
* Characteristics and Rolls
*****************************/
.ds_laundry .rolls_and_points
{
    overflow: auto;
}

.ds_laundry .characteristics_rolls .row
{
    clear: left;
}

.ds_laundry .characteristics_rolls .col
{
    float: left;
    width: 30%;
}

.ds_laundry .characteristics_rolls .coc_title
{
    float: left;
    width: 3.1em;
}

.ds_laundry .characteristics_rolls .widecol .coc_title
{
    float: left;
    width: 10em;
}


.ds_laundry .characteristics_rolls .widecol
{
    float: left;
    width: 70%;
}

.ds_laundry .dsf_cthulhu_sanity
{
    float: left;
    min-width: 20px;
}

.ds_laundry .dsf_damage_bonus
{
    float: left;
    min-width: 40px;
}

/****************************
* Points
*****************************/
.ds_laundry .points .current
{
    clear: left;
}

.ds_laundry .points .maximum
{
    clear: left;
}

.ds_laundry .points .sanity
{
    float: left;
    width: 33.33%;
}

.ds_laundry .points .magic
{
    float: left;
    width: 33.33%;
}

.ds_laundry .points .hit
{
    float: left;
    width: 33.33%;
}

.ds_laundry .points .coc_title
{
    float: left;
    width: 75%;
}

/****************************
* Investigator Skills
*****************************/
.ds_laundry .investigator_skills .column
{
    float: left;
    width: 33.33%;
    position: relative;
}

.ds_laundry .investigator_skills .coc_skill_item
{
    clear: left;
}

.ds_laundry .investigator_skills .coc_sub_skill_item
{
    clear: left;
}

.ds_laundry .investigator_skills .skill_check
{
    float: left;
    width: 25px;
    clear: left;
}

.ds_laundry .investigator_skills .skill_name
{
    text-transform: capitalize;
    float: left;
    width: 10em;
}

.ds_laundry .investigator_skills .coc_sub_skill_item .skill_name
{
    text-transform: capitalize;
    float: left;
    width: 9em;
    margin-left: 1em;
}

.ds_laundry .investigator_skills .skill_value
{
    float: left;
}

.ds_laundry .skill_section_header
{
    float: left;
    font-weight: bold;
    position: relative;
    left: -5px;
    text-transform: capitalize;
}

.ds_laundry .coc_character_image
{
    width: 12em;
    height: 12em;
    border-width: 1px;
    border-style: solid;
    border-color: Black;
    padding: 2px 2px 2px 2px;
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
}

.ds_laundry .avatar_image
{
    width: auto;
    height: auto;
}

/****************************
* Weapons
*****************************/
.ds_laundry .coc_weapons_item 
{
    clear: left;
}

.ds_laundry .weapons_header
{
    font-style: italic;
}

.ds_laundry .weapons_check
{
    float: left;
    clear: left;
    width: 25px;
}

.ds_laundry .weapons_name
{
    float: left;
    width: 180px;
}

.ds_laundry .weapons_percent
{
    float: left;
    width: 50px;
}

.ds_laundry .weapons_damage
{
    float: left;
    width: 150px;
}

.ds_laundry .weapons_malfunction
{
    float: left;
    width: 40px;
}

.ds_laundry .weapons_hands
{
    float: left;
    width: 30px;
}

.ds_laundry .weapons_range
{
    float: left;
    width: 100px;
}

.ds_laundry .weapons_num_attack
{
    float: left;
    width: 30px;
}

.ds_laundry .weapons_shots
{
    float: left;
    width: 40px;
}

.ds_laundry .weapons_hitpoints
{
    float: left;
    width: 30px;
}

/****************************
* Personal Data
*****************************/
.ds_laundry .personal_data .coc_title
{
    float: left;
    margin-right: 6px;
}

.ds_laundry .personal_data .dsf
{
    float: left;
    min-width: 300px;
}

/****************************
* Income and Savings
*****************************/
.ds_laundry .income_savings .coc_title
{
    float: left;
    margin-right: 6px;
}

.ds_laundry .income_savings .dsf
{
    float: left;
    min-width: 40%;
}

/****************************
* Adventuring Gear and Possessions
*****************************/
.ds_laundry .adventuring_gear_possessions .dsf
{
    float: left;
    min-width: 90%;
}

/****************************
* Mythos Tomes Read
*****************************/
.ds_laundry .mythos_tomes_read .dsf
{
    float: left;
    min-width: 90%;
}

/****************************
* Artifacts and Spells
*****************************/
.ds_laundry .artifacts_spells div
{
    float: left;
    width: 50%;
}

.ds_laundry .artifacts_spells_subheader
{
    float: left;
    font-weight: bold;
    margin-right: 6px;
}

.ds_laundry .artifacts_spells .dsf
{
    float: left;
    min-width: 50%;
}

/****************************
* Monster History
*****************************/
.ds_laundry .monster_history .dsf
{
    float: left;
    min-width: 90%;
}

